{% extends "auctions/auctionBase.html" %}

{% block auction_content %}

<div
  hx-get="{% url 'auctions:getSelect' %}?target=category"
  hx-trigger="load"
  hx-target="#category"
></div>

<div class="addContact container_main">
  <div class="registration form">
    <header>Add Item</header>
    <form action="{% url 'auctions:addItem' auction.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-flex">
        <input type="text" required name="name" placeholder="Item Name">
        <input type="text" required name="description" placeholder="Description">
        <select name="categoryid" id="category"
          hx-get="{% url 'auctions:getSelect' %}?target=subcategory"
          hx-target="#subcategory"
        ></select>
        <select name="subcategoryid" id="subcategory"></select>
        <input type="number" required name="minimumbid" placeholder="Starting Price">
        <input type="file" required name="image" placeholder="Upload Image">
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>


{% endblock %}