{% extends "auctions/auctionBase.html" %}



{% block auction_content %}
<div>
    {% if pageOptions %}
    <h4 class="section__header">{{pageOptions.header}}</h4>
    {% if auction and items %}
    <div class="product__grid">
        {% for item in items %}
        <div class="product__card">
            <h4>{{item.name}}</h4>
            <p>Started: {{item.createdat}}</p>
            <p>Lot No.: <strong>{{item.id}}</strong></p>
            <div class="product-status">Status: <strong>{{item.status}}</strong></div>
            <div class="item-flex">
                {% if pageOptions.page == 'auctionIndex' %}
                <div class="btn-div_">
                    <a class="bid-btn" href="{% url 'auctions:editItem' auction.id item.id %}?page={{pageOptions.page}}">
                        Edit
                    </a>
                </div>
                {% endif %}
                <div class="btn-div_">
                    <a class="bid-btn" href="{% url 'auctions:bidItem' auction.id item.id %}?page={{pageOptions.page}}">
                        {{pageOptions.buttonLabel}}
                    </a>
                </div>
            </div>
            <img src="{{item.image}}" alt="{{item.name}}" />
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="auction-notice">No item found</div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}