{% extends "base.html" %}



{% block content %}
<section class="section__container product__container" id="product">
    <div class="auctionbase__header">
        <a href="{% url 'auctions:auctionIndex' auction.id %}">
            <h3>{{auction.name}}</h3>
            <span>Maximum Participant: <strong>{{auction.maxparticipant}}</strong></span>
            <span>Status: <strong>{{auction.status}}</strong></span>
            <span>Created By: <strong>{{auction.username}}</strong></span>
        </a>
    </div>
    <nav>
        <ul class="nav__links auction__nav__links" id="nav-links">
            {% if auction %}
                {% with current_url=request.get_full_path %}
                    {% url 'auctions:auctionIndex' auction.id as url %}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">Live Auction</a>
                    </li>
                    {% url 'auctions:editAuction' auction.id as url %}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">Edit Auction</a>
                    </li>
                    {% url 'auctions:addParticipant' auction.id as url %}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">Add Participant</a>
                    </li>
                    {% url 'auctions:listParticipant' auction.id as url %}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">List participant</a>
                    </li>
                    {% url 'auctions:addItem' auction.id as url%}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">Add Item</a>
                    </li>
                    {% url 'auctions:getSoldItems' auction.id as url %}
                    <li class="{% if current_url == url %} active-menu {%endif%}">
                        <a href="{{ url }}">Sold Items</a>
                    </li>
                {% endwith %}
            {% endif %}
        </ul>
    </nav>
    {% include "auctions/message.html" %}
    {% block auction_content %}{% endblock %}
</section>
{% endblock %}