{% extends "auctions/auctionBase.html" %}



{% block auction_content %}
<div>
    {% if auction and items and pageOptions %}
    <h4 class="section__header">{{pageOptions.header}}</h4>
    <div class="product__grid">
        {% for item in items %}
        <div class="product__card">
            <h4>{{item.name}}</h4>
            <p>Started: {{item.createdat}}</p>
            <p>Lot No.: <strong>{{item.id}}</strong></p>
            <div class="product-status">Status: <strong>{{item.status}}</strong></div>
            <div class="btn-div">
                <a class="bid-btn" href="{% url 'auctions:bidItem' auction.id item.id %}?page={{pageOptions.page}}">
                    {{pageOptions.buttonLabel}}
                </a>
            </div>
            <img src="{{item.image}}" alt="{{item.name}}" />
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="auction-notice">No item found</div>
    {% endif %}
</div>
{% endblock %}