{% extends "base.html" %}



{% block content %}
<section class="section__container product__container" id="product">
    <div class="auctionbase__header">
        <h3>{{auction.name}}</h3>
        <span>Maximum Participant: <strong>{{auction.maxparticipant}}</strong></span>
        <span>Status: <strong>{{auction.status}}</strong></span>
    </div>
    <nav>
        <ul class="nav__links auction__nav__links" id="nav-links">
            {% if auction %}
                <li><a href="{% url 'auctions:editAuction' auction.id %}">Edit Auction</a></li>
                <li><a href="{% url 'auctions:addParticipant' auction.id %}">Add Participant</a></li>
                <li><a href="{% url 'auctions:listParticipant' auction.id %}">List participant</a></li>
                <li><a href="{% url 'auctions:addItem' auction.id %}">Add Item</a></li>
                <li><a href="{% url 'auctions:auctionIndex' auction.id %}">List Item</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block auction_content %}{% endblock %}
</section>
{% endblock %}