{% extends "base.html" %}



{% block content %}
<div class="biditem-container">
  <section class="section__container product__container" id="product">
    {% include "auctions/message.html" %}
    <div class="biditem-grid">
      {% if item %}
      <div class="product__card">
        <h4>{{item.name}}</h4>
        <img src="{{item.image}}" alt="{{item.name}}" />
        <div class="biditem-p">Closes in: {{item.minimumbid}}</div>
        <p>Starting Price: {{item.minimumbid}}</p>
        <p>Description: {{item.description}}</p>
      </div>
      {% endif %}
      <form class="bid-detail" 
      hx-post="{% url 'auctions:bidItem' item.id %}" 
      hx-target="#bid-info">
        {% csrf_token %}
        <div class="bid-info product__card" id="bid-info">
          {% if bids %}
          <ul>
            {% for bid in bids %}
              <li>Competing Bid: {{bid.amount}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <input class="input" name="amount" type="number">
        <input class="hidden" name="username" value="{{item.username}}">
        <input class="hidden" name="minimumbid" value="{{item.minimumbid}}">
        <input class="hidden" name="id" value="{{item.id}}">
        <button type="submit" class="btn">Bid</button>
      </form>
    </div>
  </section>
</div>
{% endblock %}