{% extends "auctions/auctionBase.html" %}


{% block auction_content %}

<div class="addContact container_main">
  <div class="registration form">
    <header>Edit Auction</header>
    <form action="{% url 'auctions:editAuction' auction.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="edit-auction-flex">
          <label for="name" class="auction-flex-item">Auction name</label>
          <input class="auction-flex-item_" type="text" required name="name" value="{{auction.name}}">
          <label class="auction-flex-item" for="maxparticipant">Max Participants</label>
          <input class="auction-flex-item_" type="number" required name="maxparticipant" value="{{auction.maxparticipant}}">
          <label class="auction-flex-item" for="description">Description</label>
          <input class="auction-flex-item_" type="text" required name="description" value="{{auction.description}}">
        {% if auctionStatus %}
          <label class="auction-flex-item" for="status">Status</label>
          <select class="auction-flex-item_" name="status" id="status">
            {% for status in auctionStatus %}
              {% if auction.status == status %}
                <option value="{{status}}" selected>{{status}}</option>
              {% else %}
                <option value="{{status}}">{{status}}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>


{% endblock %}