{% extends "auctions/auctionBase.html" %}



{% block auction_content %}

<div class="addContact container_main">
  <div class="registration form">
    <header>Edit Participant</header>
    <form action="{% url 'auctions:editParticipant' auction.id participant.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="auction-flex">
        <input name="username" disabled id="participant" value="{{ participant.username }}"></input>
        {% if participantStatus %}
        <select name="status" id="status">
          {% for status in participantStatus %}
            {% if participant.status == status %}
              <option value="{{status}}" selected>{{status}}</option>
            {% else %}
              <option value="{{status}}">{{status}}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% endif %}
      </div>
      <div class="participant-msg success"></div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>


{% endblock %}