{% extends "base.html" %}



{% block content %}
<section class="section__container product__container" id="product">
    {% include "auctions/message.html" %}
    {% if pageOptions %}
    <h4 class="section__header">{{pageOptions.header}}</h4>
    {% if auctions %}
    <div class="product__grid">
        {% for auction in auctions %}
        <div class="product__card">
            <div class="auction__btn">
                <div class="btn-div">
                    <a class="bid-btn" href="{% url 'auctions:auctionIndex' auction.id %}?page={{pageOptions.page}}">
                        {{pageOptions.buttonLabel}}
                    </a>
                </div>
            </div>
            <h3>{{auction.name}}</h3>
            <p>Started: {{auction.createdat}}</p>
            <p>Max Participants: <strong>{{auction.maxparticipant}}</strong></p>
            <div class="product-status">Status: <strong>{{auction.status}}</strong></div>
            <p>Description: {{auction.description}}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="auction-notice">No {{pageOptions.header}} available</div>
    {% endif %}
    {% endif %}
</section>
{% endblock %}