{% extends "base.html" %}
{% load static %}



{% block content %}
<section class="section__container product__container" id="product">
    {% include "auctions/message.html" %}
    {% for item in items %}
    <h3 class="section__header">Items On Auction</h3>
    <div class="product__grid">
        <div class="product__card">
            <h4>{{item.name}}</h4>
            <p>{{item.minimumbid}}</p>
            <img src="{{item.image}}" alt="{{item.name}}" />
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}