{% extends "auctions/auctionBase.html" %}



{% block auction_content %}
<div class="participant__main">
  <div class="participant">
    <header>
      <h1 class="participant__title">
        <span class="participant__title--top">{{auction.name}}</span>
        <span class="participant__title--bottom">participants</span>
      </h1>
    </header>

    <main class="participant__profiles">
      {% if participants %}
        {% for participant in participants %}
          <article id="{{participant.id}}" class="participant__profile">
            <span class="participant__name">{{participant.username}}</span>
            <span class="participant__value">{{participant.status}}</span>
            <span><a class="participant__edit" href="{% url 'auctions:editParticipant' auction.id participant.id %}">edit</a></span>
            <span><a class="participant__delete">delete</a></span>
          </article>
        {% endfor %}
      {% else %}
        <div class="auction-notice">No active participant found</div>
      {% endif %}
    </main>
  </div>
</div>

{% endblock %}